/* TABLE DES STYLES */
/*                  */
/* GLOBALS          */
/* HEADER & NAV     */
/* MAIN             */
/* RESPONSIVE       */
/*                  */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1,h2{
    margin: 40px 0;
}

/* HEADER & MENU DE NAVIGATION */

header{
    background-color: black;
    color: white;
    padding: 0 20px;
}

header nav{
    max-width: 1150px;
    margin: 0 auto;
    padding: 20px;
}

header nav .logo{
    text-transform: uppercase;
}

header nav p{
    border: 2px solid white;
    width: fit-content;
    padding: 15px 30px;
    margin: auto;
    margin-bottom: 20px;
}

header nav ul{
    text-align: center;
}

header nav li{
    list-style-type: none;
}

header nav a{
    display: block;
    padding: 15px 30px;
    color: white;
}

/* MAIN */

main{
    max-width: 1150px;
    margin: auto;
    padding: 0 20px;
}

main .justeLeTexte{
    text-align: justify;
}

main img{
    width: 100%;
    font-size: 0;
}

main .imageFlottanteDroite{
    margin-bottom: 30px;
}

main .imageFlottanteGauche{
    margin-bottom: 30px;
}

/* RESPONSIVE < 1024px */

@media screen and (min-width:1024px){
    
    header nav{
        display: flex;
        vertical-align: center;
    }
    
    header nav p{
        margin-left: 0;
        margin-bottom: 0;
    }
    
    header nav .logo{
        flex: 1;
    }
    
    header nav ul{
        display: flex;
    }
    
    header nav a{
        margin: 0 30px;
    }
    
    header nav li a:last-of-type{
        padding-right: 0;
    }


    main img{
        width: 500px;
    }

    .imageFlottanteDroite{
        float: right;
        margin: 0 0 15px 30px;
    }

    .imageFlottanteGauche{
        float: left;
        margin: 0 30px 15px 0;
    }
}